# Visual Studio files and folder
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Build
build/

# CMake
CMakeFiles

# Gradle
.gradle

# Android
local.properties

# Idea
.idea
